.collection-product-wrap {
  .price {
    font-family: $giva-font-primary-2;
    color: #000000;
    .money {
      font-size: 16px;
    }
    .sale-price {
      // color: $color_sale_price;
      color: $color-red;
      font-weight: $font-weight-bold;
    }
    .was_price {
      // color: $color_compare_at_price;
      color: #000000;
      text-decoration: line-through;
      font-size: 12px;
      span {
        font-weight: $font-weight-medium;
      }
    }
  }
  .title {
    color: $color_links;
    font-size: 14px;
    font-weight: 600;
    font-family: $giva-font-primary-1;
    &:hover {
      color: adaptive-color($color_background, $color_links, 20%);
    }
  }
}
