.contact-us-page {
  max-width: 750px;
  margin: 0 auto;
}
.page-content {
  .contact-form {
    &__name {
      @include res(sm) {
        padding-right: 6px;
      }
    }
    &__email {
      @include res(sm) {
        padding-left: 6px;
      }
    }
  }
  &__alert-success {
    background: #e0f4d8;
    color: #33631d;
  }
  &__alert-error {
    background: #fff6f6;
    color: #d02e2e;
  }
}

#about-us-page {
  padding: 64px 0 0;
  .figure-about {
    text-align: center;
    margin: 0 17%;
    margin-bottom: 24px;
    img {
      border-radius: 32px;
    }
  }
  .about-us-content {
    text-align: center;
    .h1 {
      color: $color-red;
      margin-bottom: 32px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: $color-red;
    }
    .content-text-about {
      margin: 0 17%;
    }
    .sign-text {
      color: $color-blue;
      font-family: $giva-font-primary-3;
      letter-spacing: -2px;
      font-size: 64px;
      line-height: 64px;
      margin-bottom: 64px;
    }
  }
  @include res(xs) {
    padding: 15px 0 0;
    .figure-about {
      margin: 0 auto 24px;
    }
    .about-us-content {
      h1 {
        font-size: 32px;
        line-height: 40px;
      }
      .content-text-about {
        margin: 0 auto;
      }
      .sign-text {
        margin-bottom: 24px;
      }
    }
  }
}
